{require_otp_vsn, "R13B04|R14|R15|R16|^17"}.


% this will allow us to load the Erlson rebar plugin during this build (e.g. for
% running EUnit)
{lib_dirs, [".."]}.


{plugins, [erlson_rebar_plugin]}. % newest rebar
{rebar_plugins, [erlson_rebar_plugin]}. % older rebar


% version of the extended Erlang parser that generates Erlson at parse time
{sub_dirs, ["erlson_erlc", "erlson_shell"]}.


{post_hooks, [
    {compile, "cp erlson_erlc/ebin/erl_parse.beam priv/erl_parse_erlc.beam"},
    {compile, "cp erlson_shell/ebin/erl_parse.beam priv/erl_parse_shell.beam"},

    {clean, "rm -f priv/erl_parse_erlc.beam priv/erl_parse_shell.beam"}
]}.


{erl_opts, [fail_on_warning, debug_info]}.


% setting cover_enabled to false. Otherwise, the following error will be
% generated:
% %    Can't load module that resides in sticky dir
%    ERROR: Cover failed to compile any modules; aborting.
{cover_enabled, false}.


% edoc fails without this
{edoc_opts, [{preprocess, true}]}.


%{deps, [
%        % we need Mochiweb for mochijson2
%        {mochiweb, "", {git, "https://github.com/mochi/mochiweb.git", {branch, "master"}}}
%]}.


% vim:ft=erlang
