% this will allow us to load the Erlson rebar plugin during this build (e.g. for
% running EUnit)
{lib_dirs, [".."]}.

{rebar_plugins, [erlson_rebar_plugin]}.

% version of the extended Erlang parser that generates Erlson at parse time
{sub_dirs, ["shell"]}.

{post_hooks, [
        {compile, "cp shell/ebin/erl_parse.beam ebin/erl_parse_shell.beam"}
    ]}.


% vim:ft=erlang
